body{

    font-family: 'Poppins', sans-serif;

}

h1{

    font-size: 50px;

}
h4{
    color: rgb(128, 98, 0);
    font-size: 20px;
}

#name{
    font-size: 40px;
}
.name-highlight{

    color: orange;
}
.objective{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.objective img{
    width: 100%;
    margin-left: 10px;
    height: 100%;

}